<header class="bg-light text-dark">
  <div class="container text-center">
    <h1>Welcome to OpenTable Restaurant</h1>
    <p class="lead">Your Restaurant, Your Food, Your Time, Always Avalaible</p>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto"><h3 class="text-center">Our menu</h3></div>
      <div class="col-md-8 mx-auto">
        <h4 class="text-center">Starter</h4>
        <ul>
          <li>rr</li>
        </ul>
      </div>
      <div class="col-md-8 mx-auto">
        <h4 class="text-center">Main Course</h4>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
